*.json         text eol=lf
*.cpp          text eol=lf
*.hpp          text eol=lf
*.md           text eol=lf
*.h            text eol=lf
.gitignore     text eol=lf
*.h            linguist-language=C++
CMakeLists.txt text eol=lf